article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[class*='col-'] {
  float: left;
  padding: 0 0.5em;
}

.grid {
  width: 100%;
  max-width: 1400px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.grid-pad {
  padding: 1em 0 1em 1em;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1em;
}

.push-right {
  float: right;
}

/* Content Columns */

.col-1-1 {
  width: 100%;
}

.col-2-3,
.col-8-12 {
  width: 66.66%;
}

.col-1-2,
.col-6-12 {
  width: 50%;
}

.col-1-3,
.col-4-12 {
  width: 33.33%;
}

.col-1-4,
.col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6,
.col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%;
}

/* Layout Columns */

.col-11-12 {
  width: 91.66%;
}

.col-10-12 {
  width: 83.333%;
}

.col-3-4,
.col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%;
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 1em 0;
    padding-left: 1em;
    padding-right: 1em;
  }

  [class*='col-']:last-of-type {
    padding-right: 1em;
  }

  [class*='col-'].m-50 {
    width: 50%;
    float: left;
    padding: 0;
  }

  [class*='col-'].m-33 {
    width: 33.3%;
    float: left;
    padding: 0;
  }
}

.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */

.highlight .k {
  font-weight: bold;
}

/* Keyword */

.highlight .o {
  font-weight: bold;
}

/* Operator */

.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */

.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */

.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */

.highlight .gh {
  color: #999999;
}

/* Generic.Heading */

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */

.highlight .go {
  color: #888888;
}

/* Generic.Output */

.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */

.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */

.highlight .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */

.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */

.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */

.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */

.highlight .kn {
  font-weight: bold;
}

/* Keyword.Namespace */

.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */

.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */

.highlight .m {
  color: #009999;
}

/* Literal.Number */

.highlight .s {
  color: #d14;
}

/* Literal.String */

.highlight .na {
  color: #008080;
}

/* Name.Attribute */

.highlight .nb {
  color: #0086B3;
}

/* Name.Builtin */

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */

.highlight .no {
  color: #008080;
}

/* Name.Constant */

.highlight .ni {
  color: #800080;
}

/* Name.Entity */

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */

.highlight .nn {
  color: #555555;
}

/* Name.Namespace */

.highlight .nt {
  color: #CBDFFF;
}

/* Name.Tag */

.highlight .nv {
  color: #008080;
}

/* Name.Variable */

.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */

.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */

.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */

.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */

.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */

.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */

.highlight .sb {
  color: #d14;
}

/* Literal.String.Backtick */

.highlight .sc {
  color: #d14;
}

/* Literal.String.Char */

.highlight .sd {
  color: #d14;
}

/* Literal.String.Doc */

.highlight .s2 {
  color: #d14;
}

/* Literal.String.Double */

.highlight .se {
  color: #d14;
}

/* Literal.String.Escape */

.highlight .sh {
  color: #d14;
}

/* Literal.String.Heredoc */

.highlight .si {
  color: #d14;
}

/* Literal.String.Interpol */

.highlight .sx {
  color: #d14;
}

/* Literal.String.Other */

.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */

.highlight .s1 {
  color: #d14;
}

/* Literal.String.Single */

.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */

.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */

.highlight .vc {
  color: #008080;
}

/* Name.Variable.Class */

.highlight .vg {
  color: #008080;
}

/* Name.Variable.Global */

.highlight .vi {
  color: #008080;
}

/* Name.Variable.Instance */

.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */

.type-csharp .highlight .k {
  color: #0000FF;
}

.type-csharp .highlight .kt {
  color: #0000FF;
}

.type-csharp .highlight .nf {
  color: #000000;
  font-weight: normal;
}

.type-csharp .highlight .nc {
  color: #2B91AF;
}

.type-csharp .highlight .nn {
  color: #000000;
}

.type-csharp .highlight .s {
  color: #A31515;
}

.type-csharp .highlight .sc {
  color: #A31515;
}

html {
  min-height: 100%;
}

body {
  font: normal normal 400 16px/1.4 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #111111;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

hr {
  height: 1px;
  border: none;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

a {
  color: #111111;
  text-decoration: underline;
}

table {
  table-layout: fixed;
  width: 100%;
}

table th {
  text-align: left;
  color: #9B9B9B;
}

table td {
  color: #B44646;
}

table td:last-child {
  color: #df7836;
  font-style: italic;
}

table td code {
  color: #6894d1;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.center img {
  max-width: 100%;
  height: auto;
}

.big-heading {
  text-align: center;
  background: #5b5b5b;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #5b5b5b), color-stop(100%, #f4f4f4));
  background: -webkit-linear-gradient(-45deg, #5b5b5b 0%, #f4f4f4 100%);
  background: -webkit-linear-gradient(315deg, #5b5b5b 0%, #f4f4f4 100%);
  background: linear-gradient(135deg, #5b5b5b 0%, #f4f4f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#f4f4f4',GradientType=1 );
  padding: 10% 0;
  color: white;
  background-size: 100%;
}

.big-heading h1,
.big-heading h3 {
  font-weight: 300;
}

.header-inside {
  opacity: 1;
  -webkit-backface-visibility: hidden;
}

a.btn {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 1.2em;
  padding: 1.2em 2em;
  margin: 2em 0;
  background: #B44646;
  border-radius: 0.5em;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -webkit-transition: background 0.2s ease, box-shadow 0.5s ease;
  transition: background 0.2s ease, box-shadow 0.5s ease;
}

a.btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #B44646;
  background: white;
}

.instructions {
  margin: 10% 0 0;
  padding-bottom: 5%;
}

.instructions i {
  font-size: 4em;
}

section {
  border-bottom: 1px solid #ccc;
  padding: 1em 10%;
}

section p {
  font-weight: 300;
}

section:last-child {
  border: none;
}

iframe {
  margin: 5% 0;
  max-width: 100%;
}

footer {
  padding: 1em 2em;
  color: white;
  background: #111111;
}

footer a {
  color: white;
}

pre code,
.hljs {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em 1em;
  line-height: 1.4;
}

/* Tomorrow Night Bright Theme */

/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */

.hljs-comment,
.hljs-title {
  color: #969896;
}

/* Tomorrow Red */

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #d54e53;
}

/* Tomorrow Orange */

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-operator,
.hljs-constant {
  color: #e78c45;
}

/* Tomorrow Yellow */

.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #e7c547;
}

/* Tomorrow Green */

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #b9ca4a;
}

/* Tomorrow Aqua */

.css .hljs-hexcolor {
  color: #70c0b1;
}

/* Tomorrow Blue */

.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #7aa6da;
}

/* Tomorrow Purple */

.hljs-keyword,
.javascript .hljs-function {
  color: #c397d8;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}

@media handheld, only screen and (max-width: 480px) {
  section {
    padding: 1em 2%;
  }

  table {
    font-size: 0.8em;
    word-break: break-word;
  }
}