[class*='col-'] {
  float: left;
  padding: 0 0.5em;
}

// [class*='col-']:last-of-type {
//   padding-right: 0px;
// }

.grid {
  width: 100%;
  max-width: 1400px;
  min-width: 755px;
  margin: 0 auto;
  overflow: hidden;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.grid-pad {
  padding: 1em 0 1em 1em;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 1em;
}

.push-right {
  float: right;
}

/* Content Columns */

.col-1-1 {
  width: 100%;
}
.col-2-3, .col-8-12 {
  width: 66.66%;
}

.col-1-2, .col-6-12 {
  width: 50%;
}

.col-1-3, .col-4-12 {
  width: 33.33%;
}

.col-1-4, .col-3-12 {
  width: 25%;
}

.col-1-5 {
  width: 20%;
}

.col-1-6, .col-2-12 {
  width: 16.667%;
}

.col-1-7 {
  width: 14.28%;
}

.col-1-8 {
  width: 12.5%;
}

.col-1-9 {
  width: 11.1%;
}

.col-1-10 {
  width: 10%;
}

.col-1-11 {
  width: 9.09%;
}

.col-1-12 {
  width: 8.33%
}

/* Layout Columns */

.col-11-12 {
  width: 91.66%
}

.col-10-12 {
  width: 83.333%;
}

.col-3-4, .col-9-12 {
  width: 75%;
}

.col-5-12 {
  width: 41.66%;
}

.col-7-12 {
  width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  [class*='col-'] {
    width: auto;
    float: none;
    margin: 1em 0;
    padding-left: 1em;
    padding-right: 1em;
    &:last-of-type {
      padding-right: 1em;
    }
  }

  [class*='col-'].m-50 {
    width: 50%;
    float: left;
    padding: 0;
  }
  
  [class*='col-'].m-33 {
    width: 33.3%;
    float: left;
    padding: 0;
  }
}
