@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin fadeIn($start) {
  opacity: $start;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 1;
  }
}

@mixin fadeOut($end) {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: $end;
  }
}


@mixin image-2x($image, $width, $height, $x, $y, $repeat) {
  background: url("#{$image}.png") $x $y $repeat;
  @media (min--moz-device-pixel-ratio: 1.3),
  (-o-min-device-pixel-ratio: 2.6/2),
  (-webkit-min-device-pixel-ratio: 1.3),
  (min-device-pixel-ratio: 1.3),
  (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url("#{$image}@2x.png");
    background-size: $width $height;
  }
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
