### Composer
composer.phar
/lib/vendor

### OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
.idea

### Phile
# Phile themes
/themes/*
!themes/index.html
!themes/default/*

# cache folder
/protected/cache/*
!/protected/cache/.htaccess

# datastorage
/protected/datastorage/*
!/protected/datastorage/.htaccess

# Phile distribution build directory
dist/*

# Phile phpDocs
/docs/*

