sudo: false

# Env
env:
  global:
  - secure: "Bpk0MKl7UBsIlNd0LrbDzElBZxS3OQJaetXlQHbNus6YZiVLC60/bo9Gu9StrBKcdrGifqzpgdETBuCUNl9ncODGba5bj4i/n6EbrXUaSWagwi6wnNjMJW3BzeUqaJabrpb6FVg9oKqdI7cfRelasJhVjpcVPnMULRxGnKtnMaY="
# Language
language: php
php:
- 5.4
- 5.5

env:
  global:
    - PHPCS=0

matrix:
  include:
    - php: 5.6
      env: PHPCS=1
    - php: hhvm
      env: HHVM=1

# Notifications
notifications:
  flowdock:
    secure: QOArjMZ42xRjGPbqQwGm8xpaEGOe2M1Z8OB58zAnHRcxhfhmewiM/F73D6kVkDIUWe7PbaG9z3WZt+x0I0wu7wXdzjTq1lCA+e0B8xZFNxHtSzrbBm6frVbvDS9/j45HXQPxFhb98aJm/3KwegqPKQd/2jXy1DqNlwlrgIU81Ok=
  email:
    secure: OhUqB3QHtfaKiAtKE6WXOr/SChfG1r6tqNltrI90srxrtHAdMgfj5Nw6gVQaYibE6dxT65fomLbhNbZgfvdcQBGGLQgo27S9acVIsamfz4gvIP/TxNl+fv9aSEqnEn9t+aAlhGMW/K0W0vxWSzJ/J7DFB8J4R4OoJmbFdFQRPT4=
  webhooks:
    urls:
      # Gitter.im channel hook
      secure: I/k3DJq2crx71BMW4UjTxgnx9Qj/H8ttmt7G0Qhyz47yqUJ8dfsYiyLu0QX19kIF/IXWU6BDXZxCvdM8/5vN5D3TFaNXu6VCK6CtXutgAEyj7Fgeg5tDq5Jt+c5j2E+jjIMWeeUCKYIY+zsKFMtQLx68Fa613tNQIUcnxpy5HYY=
    on_success: always
    on_failure: always

# Scripts
before_script:
  # workaround for session dir not accessible in HHVM
  - sh -c "if [ '$HHVM' = '1' ]; then echo 'session.gc_probability = 0' >> /etc/hhvm/php.ini; fi"
  - composer selfupdate --quiet
  - composer install -n --prefer-source --no-dev

  - sh -c "if [ '$PHPCS' = '1' ]; then composer install --prefer-dist --no-interaction; fi"
script:
- |
  echo;
  echo "Running unit tests";
  phpunit;
- |
  echo; echo "Running php lint"; /bin/bash -c "
    if ! find lib -name \*.php -not -path 'lib/vendor/*' -exec php -l {} \; > /tmp/errors 2>&1; then
      grep -v \"No syntax errors detected in\" /tmp/errors;
      exit 99;
    fi
  "
- sh -c "if [ '$PHPCS' = '1' ]; then lib/vendor/bin/phpcs --standard=PSR2 -p --extensions=php --ignore=lib/vendor/ .; fi"
