sudo: false

# Env
env:
  global:
  - secure: "Bpk0MKl7UBsIlNd0LrbDzElBZxS3OQJaetXlQHbNus6YZiVLC60/bo9Gu9StrBKcdrGifqzpgdETBuCUNl9ncODGba5bj4i/n6EbrXUaSWagwi6wnNjMJW3BzeUqaJabrpb6FVg9oKqdI7cfRelasJhVjpcVPnMULRxGnKtnMaY="
# Language
language: php

env:
  global:
    - PHPCS=0 PLUGINS=0

matrix:
  include:
    - php: 7.2
    - php: 7.3
    - php: 7.4
      env: PHPCS=1

# Notifications
notifications:
  webhooks:
    urls:
      # Gitter.im channel hook
      secure: I/k3DJq2crx71BMW4UjTxgnx9Qj/H8ttmt7G0Qhyz47yqUJ8dfsYiyLu0QX19kIF/IXWU6BDXZxCvdM8/5vN5D3TFaNXu6VCK6CtXutgAEyj7Fgeg5tDq5Jt+c5j2E+jjIMWeeUCKYIY+zsKFMtQLx68Fa613tNQIUcnxpy5HYY=
    on_success: always
    on_failure: always

# Scripts
install:
  - composer selfupdate --quiet
  - composer install --prefer-dist --no-interaction
  - |
    if [ "$PLUGINS" = "1" ]; then
        lib/vendor/bin/phing phile-plugins-install
    fi

script:
- |
  echo; echo "Running unit tests";
  lib/vendor/bin/phpunit;
- |
  echo; echo "Running code formatting tests";
  if [ "$PHPCS" = "1" ]; then
    if ! find lib plugins/phile -name \*.php -not -path 'lib/vendor/*' -exec php -l "{}" \; > /tmp/errors 2>&1; then
      grep -v \"No syntax errors detected in\" /tmp/errors;
      exit 99;
    fi
    lib/vendor/bin/phpcs --standard=PSR2 -p --extensions=php --ignore=lib/vendor/ lib/ plugins/phile/ .;
  fi
