<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="config/bootstrap.php"
        colors="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="core">
            <directory>tests/</directory>
            <directory>plugins/phile/</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist processUncoveredFilesFromWhitelist="false">
        <directory suffix=".php">lib/Phile</directory>
        <directory suffix=".php">plugins/phile</directory>
      </whitelist>
    </filter>

    <logging>
      <log type="coverage-html" target="docs/coverage" />
    </logging>
</phpunit>
