<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="config/bootstrap.php"
        colors="true"
        backupGlobals="false"
        >
    <testsuites>
        <testsuite name="core">
            <directory>tests/</directory>
            <directory>plugins/phile/phpFastCache/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
