/*=================================*/
/* Phile Template Theme
/* By: PhileCMS Community
/* https://github.com/PhileCMS/Phile
/*=================================*/

/* Reset Styles
/*---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 1em;
  table-layout: fixed;
}

thead {
  color: #666;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

th {
  font-weight: bold;
}

th.pico {
  color: #2EAE9B;
}

th.phile {
  color: #B44646;
}

th.diff {
  color: #00ff00;
}

td code {
  font-family: normal;
  background: inherit;
  padding: inherit;
  text-shadow: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* make buttons play nice in IE:
www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* Sharper Thumbnails */
img {
  -ms-interpolation-mode: bicubic;
}

/* Input Styles
/*---------------------------------------------*/
input,
textarea,
select {
  padding: 5px;
  font: 400 1em Verdana, Sans-serif;
  color: #666;
  background: #fff;
  border: 1px solid #999;
  margin: 0 0 1em 0;
}

input:focus,
textarea:focus,
select:focus {
  color: #000;
  background: #fff;
  border: 1px solid #666;
}

/* Main Styles
/*---------------------------------------------*/
body {
  font: 14px/1.8em Lucida, sans-serif;
  color: #444;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: #b44646;
  text-decoration: none;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:hover, a:active {
  color: #e2595b;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  line-height: 1.2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

ol, ul {
  padding-left: 30px;
  margin-bottom: 1em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

abbr, acronym {
  cursor: help;
  border-bottom: 0.1em dotted;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*code, pre {
  font-family: Courier;
  padding: 0 3px 1px;
  background: #eee;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  }*/

  p code, li code {
    margin: 0;
    border: 1px solid #ddd;
    font-family: Courier;
    padding: 0 3px 1px;
    background: #eee;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  }

  pre {
    margin-bottom: 1em;
  }

  blockquote {
    font-style: italic;
    margin: 0 0 1em 15px;
    padding-left: 10px;
    border-left: 5px solid #ddd;
  }

/* Structure Styles
/*---------------------------------------------*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  width: 114px;
  height: 114px;
  background: url(../images/phile-logo.png) no-repeat center center;
  display: block;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background: rgba(30,30,30,1);
  font-weight: bold;
  padding: 0.7em 1.1em;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.webgrind-links {
  display: none;
}

.webgrind-images {
  display: block;
}

@media only screen and (max-width: 700px) {
  .btn {
    margin-bottom: 1em;
  }
  .webgrind-images {
  display: none;
}
  .webgrind-links {
    display: block;
  }
  .webgrind-links img {
    max-width: 100%;
    height: auto;
  }
}

.btn:hover {
  background: rgba(20,20,20,1);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo {
    background: url(../images/phile-logo@2x.png) no-repeat center center;
    background-size: contain;
  }
}

/* Misc Styles
/*---------------------------------------------*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #969896;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #cc6666;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #de935f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #f0c674;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #b5bd68;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #8abeb7;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #81a2be;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #b294bb;
}

pre code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em 1em;
  line-height: 1.4;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5;
}